.h2 {
    font-size: 4vw;
    text-align: center;
    margin-bottom: 1vw;
}


.h3 {
    font-size: 3vw;
    text-align: center;
}

p {
    margin-bottom: 2vw;
}

.herbergement{
    position: relative;
}

.herbergement > figure{
    margin-top: 6.3em;
    border: solid 1px grey;
    box-shadow: 7px 5px 3px grey;
    padding: 5%;
}

.epingle{
    position: absolute;
    width: 25%;
}

.Lieu > figure{
    border: solid;
    border-width: 1px;
    border-color : grey;
    box-shadow: 7px 5px 3px grey;
    padding: 5%;
}

.Lieu > figure > figcaption{
 text-align: center;
 padding: 5%;
}