/*Typographie*/
@font-face
{
	font-family: 'calligraffitiregular';
	src: url('calligraffiti/Calligraffiti-webfont.eot');
	src: url('calligraffiti/Calligraffiti-webfont.eot?#iefix') format('embedded-opentype'),url('calligraffiti/Calligraffiti-webfont.woff2') format('woff2'),url('calligraffiti/Calligraffiti-webfont.woff') format('woff'),url('calligraffiti/Calligraffiti-webfont.ttf') format('truetype'),url('calligraffiti/Calligraffiti-webfont.svg#calligraffitiregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'existencelight';
	src: url('existence_light/Existence-Light-webfont.eot');
	src: url('existence_light/Existence-Light-webfont.eot?#iefix') format('embedded-opentype'),url('existence_light/Existence-Light-webfont.woff2') format('woff2'),url('existence_light/Existence-Light-webfont.woff') format('woff'),url('existence_light/Existence-Light-webfont.ttf') format('truetype'),url('existence_light/Existence-Light-webfont.svg#existencelight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'note_thisregular';
	src: url('notethis_regular/Note_this-webfont.eot');
	src: url('notethis_regular/Note_this-webfont.eot?#iefix') format('embedded-opentype'),url('notethis_regular/Note_this-webfont.woff2') format('woff2'),url('notethis_regular/Note_this-webfont.woff') format('woff'),url('notethis_regular/Note_this-webfont.ttf') format('truetype'),url('notethis_regular/Note_this-webfont.svg#note_thisregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*General*/
a
{
	outline-style:none;
}

/*Header - start*/
.spacerUp
{
	padding-top:calc(10px + 1vw);
}

.titleBanner
{
	position:static;
}

.title, .menu
{
	text-align:center;
}

.title
{
	min-width:200px;
	font-family: "note_thisregular";
	font-size:calc(25px + 3vw);
	margin:0;
}

.logo
{
	position:absolute;
	top:calc(calc(10px + 1vw) + calc(5px + 0.66vw));
	left:calc(50% - calc(30px + 4vw));
	width:calc(60px + 8vw);
}

.spacerDown
{
	margin-bottom:0;
}

.spacerDown a
{
	text-decoration:none;
	color:#000000;
}

.titleBannerFix
{
	margin-top:0;
}

.spacerUpTriple
{
	margin-top:calc(30px + 3vw);
}

.straightLine
{
	border-top:2px solid #cccccc;
}

.menu
{
	font-family:'existencelight';
}

.menu h3
{
	font-size:2vw;
	margin:auto;
}

.menu ul
{
	position:absolute;
	left:0;
	width:100%;
	background-color:#ffffff;
	margin-top:5px;
	border:1px solid #000000;
	border-top:none;
	border-radius:0 0 10px 10px;
	padding:5px 0;
	z-index:10;
}

.menu li
{
	list-style:none;
}

.menu a
{
	display:flex;
	text-decoration:none;
	color:#444444;
}

.menu a:hover
{
	color:#000000;
}

.menu h5
{
	font-size:1.5vw;
	margin:auto;
	padding:5px 0;
}

.afrique .afriqueListe
{
	visibility:hidden;
	transition:visibility 0s linear 50ms;
}

.afrique:hover .afriqueListe
{
	visibility:visible;
}

.amerique .ameriqueListe
{
	visibility:hidden;
	transition:visibility 0s linear 50ms;
}

.amerique:hover .ameriqueListe
{
	visibility:visible;
}

.asie .asieListe
{
	visibility:hidden;
	transition:visibility 0s linear 50ms;
}

.asie:hover .asieListe
{
	visibility:visible;
}

.europe .europeListe
{
	visibility:hidden;
	transition:visibility 0s linear 50ms;
}

.europe:hover .europeListe
{
	visibility:visible;
}

.oceanie .oceanieListe
{
	visibility:hidden;
	transition:visibility 0s linear 50ms;
}

.oceanie:hover .oceanieListe
{
	visibility:visible;
}

/*Mise en page Menu Burger*/
.checkboxHack
{
	margin:0;
}

.burger
{
	position:fixed;
	top:calc(8px + calc(20px + 2vw));
	left:20px;
	width:calc(20px + 2.66vw);
	visibility:hidden;
	border-radius:5px;
	padding:5px 5px;
z-index:100}

.burger:hover
{
	background-color:#cccccc;
}

#clickMe
{
	display:none;
}

.menuBurger
{
	position:fixed;
	top:0;
	left:-320px;
	height:100vh;
	background-color:#ffffff;
	font-family:'existencelight';
	color:#444444;
	border-right:1px solid #000000;
	border-radius:0 20px 20px 0;
	z-index:90;
	transition:transform 100ms linear;
}

#clickMe:checked ~ .menuBurger
{
	transform:translate(320px);
}

.menuBurger h4
{
	font-size:calc(12.5px + 1.5vw);
	margin-bottom:0;
	margin-top:1.5vw;
}

.afriqueBurger:hover
{
	color:#000000;
}

.ameriqueBurger:hover
{
	color:#ce0000;
}

.asieBurger:hover
{
	color:#e6e601;
}

.europeBurger:hover
{
	color:#25a025;
}

.oceanieBurger:hover
{
	color:#4848ff;
}

.separator
{
	border-top:1px solid #000000;
	margin-bottom:5px;
}

.menuBurger ul
{
	display:none;
	margin-top:10px;
}

.menuBurger li
{
	list-style:none;
}

.menuBurger a
{
	text-decoration:none;
	color:#444444;
}

.menuBurger h5
{
	font-size:calc(8px + 0.96vw);
	margin-bottom:0;
	margin-left:calc(calc(12.5px + 1.5vw) - 5px) ;
}

.afriqueBurger
{
	margin-top:calc(calc(20px + 2vw) + calc(26px + calc(20px + 2.66vw)));
}

#clickMeAfrique, #clickMeAmerique, #clickMeAsie, #clickMeEurope, #clickMeOceanie
{
	display:none;
}

#clickMeAfrique:checked ~ .afriqueListeBurger
{
	display:contents;
}

#clickMeAfrique:checked ~ .afriqueBurger
{
	color:#000000;
}

.afriqueListeBurger a:hover
{
	color:#000000;
}

#clickMeAmerique:checked ~ .ameriqueListeBurger
{
	display:contents;
}

#clickMeAmerique:checked ~ .ameriqueBurger
{
	color:#ce0000;
}

.ameriqueListeBurger a:hover
{
	color:#ce0000;
}

#clickMeAsie:checked ~ .asieListeBurger
{
	display:contents;
}

#clickMeAsie:checked ~ .asieBurger
{
	color:#e6e601;
}

.asieListeBurger a:hover
{
	color:#e6e601;
}

#clickMeEurope:checked ~ .europeListeBurger
{
	display:contents;
}

#clickMeEurope:checked ~ .europeBurger
{
	color:#25a025;
}

.europeListeBurger a:hover
{
	color:#25a025;
}

#clickMeOceanie:checked ~ .oceanieListeBurger
{
	display:contents;
}

#clickMeOceanie:checked ~ .oceanieBurger
{
	color:#4848ff;
}

.oceanieListeBurger a:hover
{
	color:#4848ff;
}

/*Media Query*/
@media screen and (max-width:768px)
{
	.banner
	{
		display:none;
	}

	.burger
	{
		visibility:visible;
	}

	.spacerDown
	{
		margin-bottom:calc(30px + 3vw);
	}

	.titleBanner
	{
		position:fixed;
		top:0;
		left:0;
		height:calc(calc(10px + 1vw) + calc(calc(25px + 3vw) * 1.2) + calc(30px + 3vw));
		background-color:#ffffff;
		z-index:20;
	}

	.titleBannerFix
	{
		margin-top:calc(calc(10px + 1vw) + calc(calc(25px + 3vw) * 1.2) + calc(30px + 3vw));
	}
}

@media screen and (min-width:769px)
{
	.menuBurger, #clickMe:checked ~ .menuBurger
	{
		visibility:hidden;
	}
}
/*Header - end*/


/*Page d'accueil - start*/
.post
{
	height:455px;
	min-width: 285px;
	background-size: cover;
	background-position: center;
	padding: 5px;
	margin: 5px;
	margin-bottom: 40px;
}

.texte
{
	background-color: rgba(255,255,255,0.8);
	width: 100%;
	height: 445px;
	padding: 20px;
	text-align: justify;
	border-radius: 10px;
}

p
{
	font-family: "existencelight";
}

.p1
{
	background-image: url(https://zupimages.net/up/18/09/0f6g.jpg);
}

.p2
{
	background-image: url(https://zupimages.net/up/18/09/e04l.jpg);
}

.p3
{
	background-image: url(https://zupimages.net/up/18/09/pwf9.jpg);
}
/*Page d'accueil - end*/


/*Page Cambodge - start*/
.h2
{
	font-family: "existencelight";
	font-size: 4vw;
	font-weight: bold;
	color: white;
	text-align: center;
	margin-bottom: 1vw;
	padding-top: 3vw;
	background-image: url("Photos_Cambodge/Cambodge.jpg");
	background-size: cover;
	height: 300px;
}

.h3
{
	font-family: "existencelight";
	font-size: 30px;
	border-bottom: solid;
	text-align: center;
	margin-bottom : 3vw;
	margin-top : 3vw;
}

h4
{
	font-family: "existencelight";
	font-size: 20px;
	font-weight: bold;
}

/*Partie "Bon à savoir"*/
p
{
	font-family: "existencelight";
	margin-top: 2vw;
	margin-bottom: 2vw;
	text-align: justify;
	font-size: 15px;
}

li
{
	font-family: "existencelight";
	font-size: 15px;
}

/*Partie hébergement*/
.Hebergement
{
	margin: 10% 1% 0 1%;
	height: 560px;
}

.Hebergement2 .pince
{
	position: absolute;
	width: 40%;
	display: inline-block;
}

.Hebergement2 .pince1
{
	margin-left: 4vw;
	top: -32.5%;
}

.Hebergement2 .pince2
{
	margin-left: 9vw;
	top: -33.5%;
}

.Hebergement2 .pince3
{
	margin-left: 8vw;
	top: -30%;
}

.Hebergement2 .pince4
{
	margin-left: 5vw;
	top: -32%;
}

.Hebergement2 .pince5
{
	margin-left: 11vw;
	top: -30%;
}

.Hebergement2 .pince6
{
	margin-left: 11vw;
	top: -32%;
}

.Hebergement2 > figure
{
	border: solid;
	border-width: 1px;
	border-color : grey;
	box-shadow: 7px 5px 3px grey;
	background-image: linear-gradient(to top, white, #D8D9D9);
	padding: 5%;
	position: relative;
	top: 10px;
	z-index: 4;
}

.Hebergement2 > figure > figcaption
{
	font-family: "calligraffitiregular";
	font-size: 25px;
	text-align: center;
	padding: 2%;
}

/*Partie Cuisine locale*/
.Plat > figure
{
	border: solid;
	border-width: 1px;
	border-color : grey;
	box-shadow: 7px 5px 3px grey;
	background-image: linear-gradient(to top, white, #D8D9D9);
	padding: 5%;
}

.Plat > figure > figcaption
{
	font-family: "calligraffitiregular";
	font-size: 25px;
	text-align: center;
	padding: 2%;
}

.Plat > .rotation1
{
	transform: rotate(3deg);
}

.Plat > .rotation2
{
	transform: rotate(-9deg);
}

/*Partie Endroits à visiter*/
.Lieu
{
	margin: 10% 1% 0 1%;
	height: 650px;
}

.Lieu2 .pince
{
	position: absolute;
	width: 40%;
	display: inline-block;
}

.Lieu2 .pince1
{
	margin-left: 4vw;
	top: -32.5%;
}

.Lieu2 .pince2
{
	margin-left: 9vw;
	top: -30.5%;
}

.Lieu2 .pince3
{
	margin-left: 8vw;
	top: -31.5%;
}

.Lieu2 .pince4
{
	margin-left: 5vw;
	top: -32.5%;
}

.Lieu2 .pince5
{
	margin-left: 8vw;
	top: -33.5%;
}

.Lieu2 .pince6
{
	margin-left: 11vw;
	top: -32.5%;
}

.Lieu2 > figure
{
	border: solid;
	border-width: 1px;
	border-color : grey;
	box-shadow: 7px 5px 3px grey;
	background-image: linear-gradient(to top, white, #D8D9D9);
	padding: 5%;
	position: relative;
	top: 10px;
	z-index: 1;
}

.Lieu2 > figure > figcaption
{
	font-family: "calligraffitiregular";
	font-size: 25px;
	text-align: center;
	padding: 2%;
}

/*Carousel*/
.carousel-control-prev-icon,.carousel-control-next-icon
{
	height: 4vw;
	width: 4vw;
	border-radius: 50%;
	background-color: grey;
	opacity: 0.2;
}

.ecran2
{
	display: none;
}

@media screen and (max-width:1199px)
{
	.Hebergement2 .pince1
	{
		margin-left: 4vw;
		top: -32.3%;
	}

	.Hebergement2 .pince2
	{
		margin-left: 9vw;
		top: -33%;
	}

	.Hebergement2 .pince3
	{
		margin-left: 8vw;
		top: -29.3%;
	}

	.Hebergement2 .pince4
	{
		margin-left: 5vw;
		top: -31.3%;
	}

	.Hebergement2 .pince5
	{
		margin-left: 11vw;
		top: -29.5%;
	}

	.Hebergement2 .pince6
	{
		margin-left: 11vw;
		top: -32%;
	}

	.Lieu2 .pince1
	{
		margin-left: 4vw;
		top: -32%;
	}

	.Lieu2 .pince2
	{
		margin-left: 9vw;
		top: -29.3%;
	}

	.Lieu2 .pince3
	{
		margin-left: 8vw;
		top: -31%;
	}

	.Lieu2 .pince4
	{
		margin-left: 5vw;
		top: -31.7%;
	}

	.Lieu2 .pince5
	{
		margin-left: 8vw;
		top: -32.5%;
	}

	.Lieu2 .pince6
	{
		margin-left: 11vw;
		top: -27.5%;
	}
}

@media screen and (max-width:991px)
{
	.Hebergement2 .pince1
	{
		margin-left: 4vw;
		top: -30.5%;
	}

	.Hebergement2 .pince2
	{
		margin-left: 9vw;
		top: -26%;
	}

	.Hebergement2 .pince3
	{
		margin-left: 8vw;
		top: -28%;
	}

	.Hebergement2 .pince4
	{
		margin-left: 5vw;
		top: -30%;
	}

	.Hebergement2 .pince5
	{
		margin-left: 11vw;
		top: -28%;
	}

	.Hebergement2 .pince6
	{
		margin-left: 11vw;
		top: -30.5%;
	}

	.Lieu2 .pince1
	{
		margin-left: 4vw;
		top: -25%;
	}

	.Lieu2 .pince2
	{
		margin-left: 9vw;
		top: -27.8%;
	}

	.Lieu2 .pince3
	{
		margin-left: 8vw;
		top: -29.5%;
	}

	.Lieu2 .pince4
	{
		margin-left: 5vw;
		top: -24.7%;
	}

	.Lieu2 .pince5
	{
		margin-left: 8vw;
		top: -25.4%;
	}

	.Lieu2 .pince6
	{
		margin-left: 11vw;
		top: -25%;
	}
}

@media screen and (max-width:768px)
{
	.ecran1
	{
		display: none;
	}

	.ecran2
	{
		display: contents;
	}

	.Hebergement
	{
		width: 80%;
		margin: auto;
	}

	.Plat figure
	{
		width: 70%;
		height: 93%;
		margin: auto;
	}

	.Lieu
	{
		width: 80%;
		margin: auto;
	}

	.h3
	{
		margin-top: 40px;
	}
}

/*Scroll*/
.scrollUp
{
	position: fixed;
	bottom : 20px;
	right: 40px;
	opacity: 0.4;
	z-index: 20;
}

.scrollUp:hover
{
	opacity : 1;
}
/*Page Cambodge - end*/


/*Page Contact - start*/
.description
{
	text-align: justify;
	margin-top: 50px;
	margin-bottom: 50px;
}

.citation > p
{
	text-align: center;
	font-family: 'calligraffitiregular', cursive;
	font-size: 2em;
}

.gif > figure
{
	text-align: center;
	border: solid;
	border-width: 1px;
	border-color : grey;
	box-shadow: 7px 5px 3px grey;
	background-image: linear-gradient(to top, white, #D8D9D9);
	width: 30%;
	margin: auto;
	min-width: 300px;
}

.gif > figure > figcaption
{
	font-style: italic;
	margin-bottom: 8%;
	margin-top: 4%;
	font-family: 'existencelight', cursive;
}

.img-gif
{
	margin-top: 5%;
}

.contact
{
	border-style: solid;
	border-width: 1px;
	border-color : grey;
	box-shadow: 7px 5px 3px grey;
	background-image: url("Photos_contact/Contact.jpg");
	padding: 5%;
	padding-bottom: 10px;
	margin-bottom: 20px;
	margin-top: 10%;
}

.contact p
{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	padding: 5%;
	color: white;
	opacity: 0.8;
}

#bouton
{
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}
/*Page Contact - end*/


/*Footer - start*/
.paddingLeft
{
	text-align: center;
	font-family: "existencelight";
	color: white;
	font-size: 1em;
	min-height: 250px;
	background-color: rgb(37, 37, 37);
	padding-top: 70px;
}

.paddingLeft row
{
	margin-right: 0;
}

.no-gutters
{
	margin-right: 0;
	margin-left: 0;
	> .col,> [class*="col-"]
	{
		padding-right: 0;
		padding-left: 0;
	}
}

footer ul
{
	list-style-type:none;
}

footer .mentions li
{
	margin-bottom: 15px;
	text-align: left;
}

footer .reseaux p
{
	text-align: center;
}

footer .reseaux li
{
	display: inline;
}

footer .reseaux p
{
	text-align: center;
}

footer .imgbtn
{
	width:40px;
	filter: grayscale(1);
	margin-right: 30px;
	margin-top: 20px;
}

footer .imgbtn:hover
{
	filter: grayscale(0);
}

footer a:link
{
	text-decoration:none;
	color:white;
}

footer a:visited
{
	text-decoration:none;
	color:white;
}

.madeBy
{
	color: white;
	font-style: italic;
	margin-top: 50px;
	text-align: center;
}

/*Media queries*/
@media screen and (max-width: 850px)
{
	.option
	{
	display: none}

	.texte
	{
		background-color: rgba(255,255,255,0.6);
	}

}

@media screen and (min-width: 851px)
{
	.secret
	{
		display: none;
	}

	.mentionsLeft
	{
		float: left;
	}

	.mentionsRight
	{
		float: right;
	}

	footer .mentions li
	{
		margin-bottom: 25px;
		text-align: left;
	}
}
	/*Footer - end*/